*.uistate.json
automation/*.class
automation/*.log
automation/*.ctxt
automation/.mtj.tmp/
automation/*.jar
automation/*.war
automation/*.nar
automation/*.ear
automation/*.zip
automation/*.tar.gz
automation/*.rar
automation/hs_err_pid*
/bin/
addons
/target/
/.apt_generated/
assets/output*
assets/input/*
*.duf.png
*.tip.png