header img {
	display: block;
	margin: 0 auto;
 }
body {
	background-color: #000000;
	font-size: .8em;
}
#container {
	margin: 0px auto 0px auto;
	width: 960px;
}
#pageBody {
	margin: 0px auto 0px auto;
	background-image: url('../theme/body-fill.png');
	width: 930px;
}
h1 {
	background-position: left top;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	font-size: 150%;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	text-indent: 15px;
	background-image: url('../theme/h1.jpg');
	background-repeat: no-repeat;
	width: 666px;
	height: 45px;
	position: relative;
	overflow: hidden;
	line-height: 200%;
	font-family: Cinzel;
}
p {
	color: #aa9979;
	font-family: Grenze;
	line-height: 80%;
	font-size: 150%;
}
.clear-B {
	clear: both;
}
#head {
	background-image: url('../theme/header.png');
	background-repeat: no-repeat;
	background-position: center top;
	height: 139px;
	overflow: hidden;
	font-family: Cinzel;
}
#menuBox {
	margin-top: 5px;
	margin-left: 278px;
}
#menuBox ul {
	padding : 0px;
	margin : 0px;
	list-style-type : none;
}
#logo ul {
	position: relative;
	bottom: 75px;
	left: 25px;
}
#menuBox ul li a {
	width : 110px;
	color: #ffffff;
	text-decoration : none;
	font-size: 95%;
	line-height : 240%;
	text-align: center;
	background-image: url('../theme/HnavButn2.jpg');
	float: left;
	position: relative;
	z-index: 1;
}
#menuBox li a.current {
	background-position: 0px 0px;
	color : #EEEEEE;
}
#menuBox li a:hover {
	color: #700000;
}
#col-L {
	width: 240px;
	margin: 0px 0px 0px 16px;
	float: left;
}
#col-R {
	width: 666px;
	margin: 0px 4px 0px 0px;
	float: right;
}
.projecttitle {
	padding: 15px 0px 0px 10px;
	font-size: 115%;
	width: 666px;
	color: #ffffff;
	font-weight: bold;
	font-family: Cinzel;
	
}
.projectdesc {
	margin: 0px;
	width: 666px;
	color: #ffffff;
	padding: 0px 0px 0px 10px;
}
.cnt-info {
	margin: 0px auto 0px auto;
	width: 650px;
}
h4 {
	margin: 0px;
	background-image: url('../theme/vnav-Header.png');
	color: #ffffff;
	text-indent: 10px;
	line-height: 250%;
	font-size: 130%;
	font-family: Cinzel;
}
.vnavBdy {
	background-image: url('../theme/vnav-fill.png');
}
.vnavFt {
	background-image: url('../theme/vnav-ft.png');
	height: 20px;
}
.vnavInfo {
	margin: 0px auto 0px auto;
	width: 220px;
}
.vnavInfo ul {
	padding : 0px;
	margin : 0px;
	font-family: Cinzel;
}
.vnavInfo ul li a {
	padding : 0 0 0 15px;
	color : #ffffff;
	text-decoration : none;
	line-height : 160%;
	background-image: url('../theme/nav-arrow.jpg');
}
.vnavInfo li a:hover {
	background-position : -220px 0;
	color : #ff0000;
	background-image : url('../theme/nav-arrow.jpg');
}
#foot-Info {
	margin: 0px auto 0px auto;
	width: 930px;
	overflow: hidden;
	background-image: url('../theme/footer.png');
	font-family: Cinzel;
}
#FT-col-L {
	width: 240px;
	margin: 0px 0px 0px 16px;
}
#FT-col-L-info {
	text-align: center;
}
#link-bar {
	margin-top: 70px;
	height : 30px;
}
iframe {
	display: block;
	margin: 0 auto;
  }